USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_ThemLop]    Script Date: 25-Dec-18 9:06:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_ThemLop]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaLop varchar(50),
		@MaKhoaHoc varchar(50),
		@MaNganh varchar(50),
		@TenLop nvarchar(50),
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Insert into Lop(MaLop, MaKhoaHoc, MaNganh, TenLop, GhiChu) Values(@MaLop, @MaKhoaHoc, @MaNganh, @TenLop, @GhiChu)
	RETURN
