USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_ThemGiaoVien]    Script Date: 25-Dec-18 9:05:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_ThemGiaoVien]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaGiaoVien varchar(50),
		@TenGiaoVien nvarchar(150),
		@MaKhoa varchar(50),
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Insert into GiaoVien(MaGiaoVien, TenGiaoVien, MaKhoa, GhiChu) Values(@MaGiaoVien, @TenGiaoVien, @MaKhoa, @GhiChu)
	RETURN
