USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_AddNewUser]    Script Date: 25-Dec-18 9:01:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_AddNewUser]
	(
		@ID bit ,
		@Username nvarchar(50),
		@Pass nvarchar(50)
	)
AS
	/* SET NOCOUNT ON */
	Insert into tb_User( Username, Pass,ID) Values( @Username, @Pass,@ID)
	RETURN
