USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_ThemSinhVien]    Script Date: 25-Dec-18 9:06:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_ThemSinhVien]
	(
		@MaSinhVien varchar(50),
		@Hoten nvarchar(150),
		@Quequan nvarchar(350),
		@NgaySinh smalldatetime,
		@NoiSinh nvarchar(400),
		@GioiTinh nvarchar(5),
		@MaLop varchar(50),
		@Hinh nvarchar(150),
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Insert into SinhVien(MaSinhVien, Hoten, Quequan, NgaySinh, NoiSinh,Gioitinh, Malop, Hinh, Ghichu) Values (@MaSinhVien, @Hoten, @Quequan, @Ngaysinh, @NoiSinh,@Gioitinh, @Malop, @Hinh, @Ghichu)
	RETURN
