USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_CapNhatMonHoc]    Script Date: 25-Dec-18 9:04:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_CapNhatMonHoc]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaMonHoc varchar(50),
		@TenMonHoc nvarchar(50),
		@MaKhoa varchar(50),
		@GhiChu nvarchar(500),
		@HinhThuc nvarchar(20),
		@TongSoTiet int,
		@SoTietLyThuyet int,
		@SoTietThucHanh int,
		@SoTinChi int
	)
AS
	/* SET NOCOUNT ON */
	Update MonHoc Set MaMonHoc = @MaMonHoc, TenMonHoc = @TenMonHoc, MaKhoa = @MaKhoa, SotinChi = @SoTinChi, HinhThuc = @HinhThuc,TongSotiet = @TongSoTiet, SoTietLyThuyet = @SoTietLyThuyet, SoTietThucHanh = @SoTietThucHanh, GhiChu = @GhiChu where MaMonHoc = @MaMonHoc
	RETURN
