USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_UpdateUser]    Script Date: 25-Dec-18 9:06:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_UpdateUser]
	(
		@ID bit,
		@Username nvarchar(50),
		@Pass nvarchar(50)
	)
AS
	/* SET NOCOUNT ON */
	Update tb_User Set Username = @Username, Pass = @Pass Where Username = @Username
	RETURN
