USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_XoaNganh]    Script Date: 25-Dec-18 9:07:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_XoaNganh]
	(
	@MaNganh varchar(50)
	)
AS
	/* SET NOCOUNT ON */
	Delete From Nganh Where MaNganh = @MaNganh
	RETURN
