USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_CapNhatDiem]    Script Date: 25-Dec-18 9:03:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_CapNhatDiem]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaMonHoc varchar(50),
		@MaSv varchar(50),
		@DiemLanI float,
		@DiemLanII float,
		@LanThi int,
		@NgayThi smalldatetime,
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Update Diem set MaMonHoc = @MaMonHoc, MaSV = @MaSv, DiemLanI = @DiemLanI, DiemLanII = @DiemLanII, LanThi = @LanThi, NgayThi = @NgayThi, GhiChu = @GhiChu Where MaMonHoc = @MaMonHoc and MaSv = @MaSV
	RETURN
