USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_ThemMonHoc]    Script Date: 25-Dec-18 9:06:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_ThemMonHoc]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaMonHoc varchar(50),
		@TenMonHoc nvarchar(50),
		@MaKhoa varchar(50),
		@GhiChu nvarchar(500),
		@HinhThuc nvarchar(20),
		@TongSoTiet int,
		@SoTietLyThuyet int,
		@SoTietThucHanh int,
		@SoTinChi int
	)
AS
	/* SET NOCOUNT ON */
	Insert into MonHoc(MaMonHoc, TenMonHoc, MaKhoa,SoTinChi,HinhThuc,TongSoTiet,SoTietLythuyet,SoTietThucHanh, Ghichu) Values(@MaMonHoc, @TenMonHoc, @MaKhoa,@SoTinChi,@HinhThuc,@Tongsotiet,@SoTietLyThuyet,@SoTietThucHanh, @GhiChu)
	RETURN
