USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_CapNhatKhoa]    Script Date: 25-Dec-18 9:03:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_CapNhatKhoa]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaKhoa varchar(50),
		@TenKhoa nvarchar(50),
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Update Khoa Set MaKhoa = @MaKhoa, TenKhoa = @TenKhoa, GhiChu = @GhiChu Where MaKhoa = @MaKhoa
	RETURN
