USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_XoaGiaoVien]    Script Date: 25-Dec-18 9:07:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_XoaGiaoVien]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaGiaoVien varchar(50)
	)
AS
	/* SET NOCOUNT ON */
	Delete From GiaoVien Where MaGiaoVien = @MaGiaoVien
	RETURN
