USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_CapNhatKhoaHoc]    Script Date: 25-Dec-18 9:03:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_CapNhatKhoaHoc]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaKhoaHoc varchar(50),
		@TenKhoaHoc nvarchar(50),
		@NgayBatDau smalldatetime,
		@NgayKetThuc smalldatetime,
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Update KhoaHoc Set MaKhoaHoc = @MaKhoaHoc, TenKhoaHoc = @TenKhoaHoc, NgayBatDau = @NgayBatDau, NgayKetthuc = @NgayKetThuc, GhiChu = @GhiChu Where MaKhoaHoc = @MaKhoaHoc
	RETURN
