USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_XoaDiem]    Script Date: 25-Dec-18 9:06:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_XoaDiem]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	@MaMonHoc varchar(50),
	@MaSv varchar(50)
AS
	/* SET NOCOUNT ON */
	Delete From Diem where MaMonHoc = @MaMonHoc and MaSV = @MaSv
	RETURN
