USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_CapNhatSinhVien]    Script Date: 25-Dec-18 9:04:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_CapNhatSinhVien]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaSinhVien varchar(50),
		@Hoten nvarchar(150),
		@Quequan nvarchar(350),
		@NgaySinh smalldatetime,
		@NoiSinh nvarchar(400),
		@GioiTinh nvarchar(5),
		@MaLop varchar(50),
		@Hinh nvarchar(150),
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Update SinhVien Set MaSinhVien = @MaSinhVien, Hoten = @Hoten, QueQuan = @Quequan , Ngaysinh = @Ngaysinh, NoiSinh = @NoiSinh, Gioitinh = @Gioitinh, MaLop = @MaLop, Hinh = @Hinh, Ghichu = @Ghichu Where MaSinhVien = @MaSinhVien
	RETURN
