USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_DeleteUser]    Script Date: 25-Dec-18 9:04:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_DeleteUser]
	
	(
		
		@Username nvarchar(50)
	
	)
AS
	/* SET NOCOUNT ON */
	Delete from tb_User Where Username = @Username
	
	RETURN
