USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_XoaKhoa]    Script Date: 25-Dec-18 9:07:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_XoaKhoa]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	@MaKhoa varchar(50)
AS
	/* SET NOCOUNT ON */
	Delete From Khoa Where MaKhoa = @MaKhoa
	RETURN
