USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_XoaDKMonHoc]    Script Date: 25-Dec-18 9:07:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_XoaDKMonHoc]
	
		@MaMonHoc varchar(50),
		@MaSinhVien varchar(50)
AS
	Delete From DK_MonHoc Where MaMonHoc = @MaMonHoc and MaSinhVien = @MaSinhVien
	RETURN
