USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_ThemNganh]    Script Date: 25-Dec-18 9:06:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_ThemNganh]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaNganh varchar(50),
		@TenNganh nvarchar(50),
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Insert into Nganh(MaNganh,  TenNganh, GhiChu) Values(@MaNganh, @TenNganh, @GhiChu)
	RETURN
	