USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_CapNhatNganh]    Script Date: 25-Dec-18 9:04:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_CapNhatNganh]
	(
		@MaNganh varchar(50),
		@TenNganh nvarchar(50),
		@GhiChu nvarchar(500)
	)
AS
	Update Nganh Set MaNganh = @MaNganh, TenNganh = @TenNganh, GhiChu = @GhiChu Where MaNganh = @MaNganh
	RETURN
