USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_XoaSinhVien]    Script Date: 25-Dec-18 9:07:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_XoaSinhVien]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
		@MaSinhVien varchar(50)
		
AS
	/* SET NOCOUNT ON */
	Delete From SinhVien Where MaSinhVien = @MaSinhVien
	RETURN
