USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_ThemKhoa]    Script Date: 25-Dec-18 9:05:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_ThemKhoa]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaKhoa varchar(50),
		@TenKhoa nvarchar(50),
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Insert into Khoa(MaKhoa, TenKhoa, Ghichu) Values(@MaKhoa, @TenKhoa, @GhiChu)
	RETURN
