USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_CapNhatLop]    Script Date: 25-Dec-18 9:03:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_CapNhatLop]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaLop varchar(50),
		@MaKhoaHoc varchar(50),
		@MaNganh varchar(50),
		@TenLop nvarchar(50),
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Update Lop Set MaLop = @MaLop, MaKhoaHoc = @MaKhoaHoc, MaNganh = @MaNganh, TenLop = @TenLop, GhiChu = @GhiChu Where MaLop = @MaLop
	RETURN
