USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_XoaLop]    Script Date: 25-Dec-18 9:07:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_XoaLop]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaLop varchar(50)
	)
AS
	/* SET NOCOUNT ON */
	Delete From Lop where MaLop  = @MaLop
	RETURN
