USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_ThemKhoaHoc]    Script Date: 25-Dec-18 9:06:05 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_ThemKhoaHoc]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaKhoaHoc varchar(50),
		@TenKhoaHoc nvarchar(50),
		@NgayBatDau smalldatetime,
		@NgayKetThuc smalldatetime,
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Insert into KhoaHoc(MaKhoaHoc, TenKhoaHoc, NgayBatDau, NgayKetThuc, GhiChu) values(@MaKhoaHoc, @TenKhoaHoc, @NgayBatDau, @NgayKetThuc, @GhiChu)
	RETURN
