USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_CapNhatGiaoVien]    Script Date: 25-Dec-18 9:03:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_CapNhatGiaoVien]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaGiaoVien varchar(50),
		@TenGiaoVien nvarchar(150),
		@MaKhoa varchar(50),
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Update GiaoVien Set MaGiaoVien = @MaGiaoVien, TenGiaoVien = @TenGiaoVien, MaKhoa = @MaKhoa, GhiChu = @Ghichu Where MaGiaoVien = @MaGiaoVien
	RETURN
