USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_CapNhatDKMonHoc]    Script Date: 25-Dec-18 9:03:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_CapNhatDKMonHoc]
	(
		@MaMonHoc varchar(50),
		@MaSinhVien varchar(50),
		@NgayDangKy smalldatetime,
		@SoTinChi int,
		@HocKy int
		
	)
AS
	Update DK_MonHoc Set MaMonHoc = @MaMonHoc, MaSinhVien = @MaSinhVien, NgayDangKy = @NgayDangKy, SoTinChi = @SoTinChi, HocKy = @Hocky Where MaMonHoc = @MaMonHoc and MaSinhVien = @MaSinhVien
	RETURN
