USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_XoaMonHoc]    Script Date: 25-Dec-18 9:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_XoaMonHoc]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	@MaMonHoc varchar(50)
AS
	/* SET NOCOUNT ON */
	Delete From MonHoc Where MaMonHoc = @MaMonHoc
	RETURN
