USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_SelectUser]    Script Date: 25-Dec-18 9:04:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_SelectUser]
	@ID bit,
	@Username nvarchar(50),
	@Pass nvarchar(50)
	
AS
	/* SET NOCOUNT ON */
	Select Username From tb_User Where Username=@Username
	RETURN
