USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_XoaKhoaHoc]    Script Date: 25-Dec-18 9:07:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_XoaKhoaHoc]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
	@MaKhoaHoc varchar(50)
	)
AS
	/* SET NOCOUNT ON */
	Delete From KhoaHoc where MaKhoaHoc = @MaKhoaHoc
	RETURN
