USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_NhapDiem]    Script Date: 25-Dec-18 9:04:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_NhapDiem]
	/*
	(
	@parameter1 int = 5,
	@parameter2 datatype OUTPUT
	)
	*/
	(
		@MaMonHoc varchar(50),
		@MaSv varchar(50),
		@DiemLanI float ,
		@DiemLanII float ,
		@LanThi int,
		@NgayThi smalldatetime,
		@GhiChu nvarchar(500)
	)
AS
	/* SET NOCOUNT ON */
	Insert into Diem(MaMonHoc, MaSv, DiemLanI, DiemLanII, LanThi, NgayThi, GhiChu) Values(@MaMonHoc, @MaSv, @DiemLanI, @DiemLanII, @LanThi, @NgayThi, @Ghichu)
	RETURN
