USE [TPT]
GO
/****** Object:  StoredProcedure [dbo].[qlsv_ThemDKMonHoc]    Script Date: 25-Dec-18 9:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[qlsv_ThemDKMonHoc]
	(
		@MaMonHoc varchar(50),
		@MaSinhVien varchar(50),
		@NgayDangKy smalldatetime,
		@SoTinChi int,
		@HocKy int
		
	)
AS
	/* SET NOCOUNT ON */
	Insert into DK_MonHoc(MaMonHoc, MaSinhVien, NgayDangKy, SoTinChi, Hocky) Values(@MaMonHoc,@MaSinhVien, @NgayDangKy,@SoTinChi,@Hocky)
	RETURN
